<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kamran.AZ</title>
    <link rel="stylesheet" href="../assets/css/packages/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../assets/css/packages/fontawesome/fontawesome.min.css"
    />
    <link rel="stylesheet" href="../assets/css/packages/swiper.min.css" />

    <link rel="stylesheet" href="../assets/css/common/style.css" />
    <link rel="stylesheet" href="../assets/css/light/theme.css" />
    <link rel="stylesheet" href="../assets/css/dark/theme.css" />
</head>
<body>
    
    <div class="container-404">
        <img src="../images/backgrounds/bridge.jpg" class="not-found-bg" alt="">
    </div>

    <script src="../assets/js/plugins/jquery.min.js"></script>
    <script src="../assets/js/plugins/swiper.min.js"></script>    
    <script src="../assets/js/plugins/bootstrap.min.js"></script>
    <script src="../assets/js/custom/app-preferences.js"></script>
</body>
</html>