<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kamran.AZ</title>
    <link rel="stylesheet" href="../assets/css/packages/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../assets/css/packages/fontawesome/fontawesome.min.css"
    />
    <link rel="stylesheet" href="../assets/css/packages/swiper.min.css" />
    <link rel="stylesheet" href="../assets/css/packages/aos.css">

    <link rel="stylesheet" href="../assets/css/common/style.css" />
    <link rel="stylesheet" href="../assets/css/light/theme.css" />
    <link rel="stylesheet" href="../assets/css/dark/theme.css" />
  </head>
  <body class="">
    <!-- Preloader begin -->
    <div class="preloader__wrapper">
      <img src="../images/loader.gif" alt="">
    </div>
    <!-- Preloader end -->


    <div class="main-wrapper light">
      <div class="main-left-side">
        <div class="header sticky sticky-top">
          <div class="header-left">
            <div class="header-logo">KAMRAN.AZ</div>
            <div class="header-theme-switcher d-lg-flex d-none align-items-center justify-content-between">
              <div class="theme-wrapper active" > 
                <button class="light-mode-button">light mode</button>
              </div>
              <div class="theme-wrapper">
                <button class="dark-mode-button">dark mode</button>
              </div>
            </div>
          </div>
          <div class="header-right">
            <div class="avatar">
              <img src="../images/avatars/kamran-avatar.png" alt="" />
            </div>
            <div class="close-menu-section">
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.99999 4.82167L10.125 0.696669L11.3033 1.875L7.17832 6L11.3033 10.125L10.125 11.3033L5.99999 7.17833L1.87499 11.3033L0.696655 10.125L4.82166 6L0.696655 1.875L1.87499 0.696669L5.99999 4.82167Z"
                  fill="black"
                />
              </svg>
              <span>CLOSE MENU</span>
            </div>
            <div class="close-menu-small-screens">
              <svg
                width="18"
                height="16"
                viewBox="0 0 18 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 0H18V2H0V0ZM6 7H18V9H6V7ZM0 14H18V16H0V14Z"
                  fill="black"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="left-side-content">
          <!-- Rotated left side menu -->

          <div class="left-features">
            <div class="about-me">ABOUT ME</div>
            <div class="social-links">
              <div class="">
                <img src="../images/icons/facebook.svg" alt="" />
              </div>
              <div class="">
                <img src="../images/icons/instagram.svg" alt="" />
              </div>
              <div class="">
                <img src="../images/icons/linkedin.svg" alt="" />
              </div>
            </div>
            <div class="scroll-down">
              <div class="text-part">
                <span class="scroll-text">Scroll down</span>
              </div>
              <img src="../images/icons/down-arrow-gradient.svg" alt="" />
            </div>
          </div>

          <!-- Rotated left side menu -->

          <!-- Left side for application content begin -->

          <div class="left-content">
            <div class="content-enterance p-3">
              <h1>Timeline</h1>
              <p class="description-text">
                Acaba bu resimde bizim ilk bakışta göremediğimiz gizli bir
                özellik mi var? Birlikte inceleyelim. Resmin altındaki “super
                zoom” özelliğini kullanarak ayrıntıları görmeye çalışalım.
                Aralarda popüler kültüre yapılmış göndermeler göze çarpıyor:
                Pikachu, Michael Jackson, bol bol Yoda ve Star Wars…
              </p>
            </div>

            <!-- Reusable pagination -->
            <div class="pagination">
              <a href="?page=1" class="page-item active"> 01 </a>
              <a href="?page=1" class="page-item"> 02 </a>
              <div class="page-item disabled">...</div>
              <a href="?page=1" class="page-item"> 100 </a>
              <a href="?page=1" class="page-item"> 101 </a>
              <a href="?page=1" class="page-item"> 102 </a>
              <a href="?page=next" class="page-item">
                <i class="fas fas fa-arrow-left"></i>
              </a>
              <a href="?page=next" class="page-item">
                <i class="fas fas fa-arrow-right"></i>
              </a>
            </div>
            <!-- Reusable pagination -->

            <!-- Cards begin -->

            <div class="container mt-5 p-0">
              <div class="row">
                <!-- For each loop entry  begin-->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <a href="/template/single_news.html">
                      <img
                        src="../images/backgrounds/card-img-1.png"
                        class="custom-card-image"
                        alt=""
                      />
                    </a>
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="/template/single_news.html">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="/template/single_news.html" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>
                <!-- For each loop entry end -->

                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <a href="#">
                      <img
                        src="../images/backgrounds/card-img-2.png"
                        class="custom-card-image"
                        alt=""
                      />
                    </a>
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="#">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="#" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>

                <!-- Entry start -->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="#">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="#" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>
                <!-- Entry end -->

                <!-- Entry start -->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="#">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="#" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>
                <!-- Entry end  -->

                <!-- Full width card with scalable image on the right side begin -->
                <div class="col-12">
                  <div class="card-full-width card-with-cutter-image">
                    <a href="">
                      <div class="card-img-top">
                        <img
                          src="../images/backgrounds/card-img-7.png"
                          class="custom-card-image"
                          alt=""
                        />
                        <div class="custom-card-title">
                          <div>
                            <h4 class="blockquote">
                              Keser döner, sap döner, <br />
                              gün gelir hesap döner.
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>
                    <div class="card-full-width-bottom-entries">
                      <div class="bottom-entries-left-side">
                        <div class="card-event-date">
                          <i class="far fa-calendar"></i>
                          <span class="date-text">12 August 2021</span>
                        </div>
                        <div class="card-entries">
                          <a href="#" class="card-tag">
                            <span class="card-tag-text">movies</span>
                          </a>
                          <div class="card-statics">
                            <img
                              src="../images/icons/rank-gradient.svg"
                              alt=""
                            />
                            <div class="static-text">
                              <span class="active-static">8</span>
                              <span class="dot">•</span>
                              <span>10</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom-tags">
                        <a href="#" class="active">#humor</a>
                        <a href="#">#kinoman</a>
                        <a href="#">#mylife</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Full width card with sclabale image on the right side end  -->

                <!-- Full width card with colored background begin -->
                <div class="col-12">
                  <div class="card-full-width card-colored-full-background">
                    <a href="#">
                      <div
                        class="card-img-top"
                        style="background-color: #0075ff"
                      >
                        <div class="custom-card-title">
                          <div>
                            <h4 class="blockquote">
                              Keser döner, sap döner, <br />
                              gün gelir hesap döner.
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>
                    <div class="card-full-width-bottom-entries">
                      <div class="bottom-entries-left-side">
                        <div class="card-event-date">
                          <i class="far fa-calendar"></i>
                          <span class="date-text">12 August 2021</span>
                        </div>
                        <div class="card-entries">
                          <a href="#" class="card-tag">
                            <span class="card-tag-text">movies</span>
                          </a>
                          <div class="card-statics">
                            <img
                              src="../images/icons/rank-gradient.svg"
                              alt=""
                            />
                            <div class="static-text">
                              <span class="active-static">8</span>
                              <span class="dot">•</span>
                              <span>10</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom-tags">
                        <a href="#" class="active">#humor</a>
                        <a href="#">#kinoman</a>
                        <a href="#">#mylife</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Full width card with colored background end -->

                <!-- Full width card with gradient background begin -->
                <!-- Note: add "gradient" class to the "card-img-top" class to get gradient background -->

                <div class="col-12">
                  <div class="card-full-width card-colored-full-background">
                    <a href="#">
                      <div class="card-img-top gradient">
                        <img src="" alt="" />
                        <div class="custom-card-title">
                          <div>
                            <h4 class="blockquote">
                              Keser döner, sap döner, <br />
                              gün gelir hesap döner.
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>
                    <div class="card-full-width-bottom-entries">
                      <div class="bottom-entries-left-side">
                        <div class="card-event-date">
                          <i class="far fa-calendar"></i>
                          <span class="date-text">12 August 2021</span>
                        </div>
                        <div class="card-entries">
                          <a href="#" class="card-tag">
                            <span class="card-tag-text">movies</span>
                          </a>
                          <div class="card-statics">
                            <img
                              src="../images/icons/rank-gradient.svg"
                              alt=""
                            />
                            <div class="static-text">
                              <span class="active-static">8</span>
                              <span class="dot">•</span>
                              <span>10</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-bottom-tags">
                        <a href="#" class="active">#humor</a>
                        <a href="#">#kinoman</a>
                        <a href="#">#mylife</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Full width card with gradient background end -->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <a href="#">
                      <img
                        src="../images/backgrounds/card-img-3.png"
                        class="custom-card-image"
                        alt=""
                      />
                    </a>
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="#">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="#" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>
                <!-- For each loop entry end -->

                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <a href="#">
                      <img
                        src="../images/backgrounds/card-img-4.png"
                        class="custom-card-image"
                        alt=""
                      />
                    </a>
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="#">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="#" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>

                <!-- Entry start -->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="#">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="#" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>
                <!-- Entry end -->

                <!-- Entry start -->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="custom-card">
                    <div class="card-event-date">
                      <i class="far fa-calendar"></i>
                      <span class="date-text">12 August 2021</span>
                    </div>
                    <div class="custom-card-title">
                      <a href="#">
                        <h4>Düz dünya’dan Big Bang’e 15 Evren Modeli</h4>
                      </a>
                    </div>
                    <div class="card-entries">
                      <a href="#movies" class="card-tag">
                        <span class="card-tag-text">movies</span>
                      </a>
                      <div class="card-statics">
                        <img src="../images/icons/rank-gradient.svg" alt="" />
                        <div class="static-text">
                          <span class="active-static">8</span>
                          <span class="dot">•</span>
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                    <div class="custom-card-footer">
                      <span class="short-description">
                        Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                        sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                        sırlarını anlamaya çalıştıklarına eminim...
                      </span>
                      <a href="#" class="read-more">Read more</a>
                    </div>
                    <div class="card-bottom-tags">
                      <a href="#" class="active">#humor</a>
                      <a href="#">#kinoman</a>
                      <a href="#">#mylife</a>
                    </div>
                  </div>
                </div>
                <!-- Entry end  -->
              </div>
              <!-- Card rows end -->

              <div class="pagination">
                <a href="?page=1" class="page-item active"> 01 </a>
                <a href="?page=1" class="page-item"> 02 </a>
                <div class="page-item disabled">...</div>
                <a href="?page=1" class="page-item"> 100 </a>
                <a href="?page=1" class="page-item"> 101 </a>
                <a href="?page=1" class="page-item"> 102 </a>
                <a href="?page=next" class="page-item">
                  <i class="fas fas fa-arrow-left"></i>
                </a>
                <a href="?page=next" class="page-item">
                  <i class="fas fas fa-arrow-right"></i>
                </a>
              </div>
            </div>

            <!-- Cards end -->
          </div>

          <!-- Left side for application content begin -->
        </div>
      </div>

      <!-- Right side menu -->

      <div class="main-right-side show mr-md-0">
        <div class="inner">
          <div class="right-menu-contents">
            <div
              class="header-theme-switcher mb-5 d-inline-block d-lg-none"
              style="white-space: nowrap"
            >
              <button class="light-mode-button">light mode</button>
              <button class="dark-mode-button">dark mode</button>
            </div>
            <div class="filters">
              <h4>Filters</h4>
              <div class="filter-item">
                <div class="icon-wrapper">
                  <img src="../images/icons/rank.svg" alt="" />
                </div>
                <div class="filter-text">
                  <span>By Ranking</span>
                </div>
              </div>
              <div class="filter-item">
                <div class="icon-wrapper">
                  <img src="../images/icons/date.svg" alt="" />
                </div>
                <div class="filter-text">
                  <span>By Date</span>
                </div>
              </div>
              <div class="filter-item">
                <div class="icon-wrapper">
                  <img src="../images/icons/lang.svg" alt="" />
                </div>
                <div class="filter-text">
                  <span>By Content Language</span>
                </div>
              </div>
            </div>
            <div class="categories">
              <h4>Categories</h4>
              <div class="category-tabs">
                <div class="category-tab">
                  <h6 class="category-text">Timeline</h6>
                  <div class="category__content">
                    <h1>
                      <span class="gradient-text">Lionel Messi</span>
                      <span>Paris Saint Germain</span>
                    </h1>
                  </div>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Movies</h6>
                  <div class="category__content">
                    <h4 class="bold-text">
                      <span class="gradient-text">Frenkie De Jong</span>
                      <span>Barcelona Football Club</span>
                    </h4>
                  </div>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Articles</h6>
                  <div class="category__content">
                    My articles
                  </div>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Youtube</h6>
                  <div class="category__content">
                    <h1>
                      <span class="gradient-text">Kevin De Bruyne</span>
                      <span>Manchester City</span>
                    </h1>
                  </div>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Books</h6>
                  <div class="category__content">
                    <h1>
                      <span class="gradient-text">Bruno Fernandes</span>
                      <span>Manchester United</span>
                    </h1>
                  </div>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Aphorisms</h6>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Stories</h6>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Words</h6>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Humor</h6>
                </div>
                <div class="category-tab">
                  <h6 class="category-text">Places</h6>
                </div>
              </div>
            </div>

            <div class="social-links-small-screens d-flex d-lg-none">
              <div class="">
                <img src="../images/icons/facebook.svg" alt="" />
              </div>
              <div class="">
                <img src="../images/icons/instagram.svg" alt="" />
              </div>
              <div class="">
                <img src="../images/icons/linkedin.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side menu end -->

      <div class="bottom-menu-opener">
        <svg
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 0V4H19V0H10ZM6 14V18H19V14H6ZM0 7V11H19V7H0Z"
            fill="white"
          />
        </svg>
      </div>

      <!-- Skills right side menu -->

      <div class="skill-container">
        <div class="skill-row">
          <div class="skill-left-side"></div>
          <div class="skills-right-sidebar">
            <div class="skill-item" style="width: 90%">
              <span>#Python</span>
            </div>
            <div class="skill-item" style="width: 60%">
              <span>C++</span>
            </div>
            <div class="skill-item" style="width: 70%">
              <span>Visual Basic</span>
            </div>
            <div class="skill-item" style="width: 90%">
              <span>Linux</span>
            </div>
            <div class="skill-item" style="min-width: 10%">
              <span>#Python</span>
            </div>
            <div class="skill-item" style="width: 60%">
              <span>C++</span>
            </div>
            <div class="skill-item active-skill" style="width: 70%">
              <span>Visual Basic</span>
            </div>
            <div class="skill-item" style="width: 90%">
              <span>Linux</span>
            </div>
            <div class="skill-item" style="width: 60%">
              <span>C++</span>
            </div>
            <div class="skill-item" style="width: 70%">
              <span>Visual Basic</span>
            </div>
            <div class="skill-item" style="width: 90%">
              <span>Linux</span>
            </div>
            <div class="skill-item skill-menu-closer" style="min-width: 20%">
              <div class="skill-closer-desc">Meaning of this cart</div>
              <div class="skill-menu-closer-box">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="#fff"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.99999 4.82167L10.125 0.696669L11.3033 1.875L7.17832 6L11.3033 10.125L10.125 11.3033L5.99999 7.17833L1.87499 11.3033L0.696655 10.125L4.82166 6L0.696655 1.875L1.87499 0.696669L5.99999 4.82167Z"
                    fill="#fff"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <!-- SKILLS ACCORDION MENU -->
        <div class="skill-accordion-features">
          <div class="skills-accordion-wrapper">
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">
                <span class="accordion__header__text">Set Me Free</span>
              </div>
              <div class="accordion__body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 d-none d-lg-block col-lg-3 tab__description">
                      <div class="top__content">
                        <h4 class="tab__description__title">#IQ</h4>
                        <div class="tab__description__skill__ratio">
                          <span>I have 98% IQ rate</span>
                        </div>
                        <div class="tab__description__text__wrapper">
                          <p class="paragraph">
                            I’ve been working more than 15 years in
                            it-development sphere. Birlikte inceleyelim. Resmin
                            altındaki “super zoom” özelliğini kullanarak
                            ayrıntıları görmeye çalışalım. Bu 21069 x 21069
                            piksel ölçülerindeki büyük resim başka küçük
                            resimlerden oluşuyor. I’m in:
                          </p>
                        </div>
                      </div>
                      <div class="tab__description__link">
                        <a href="#" class="tab__go__to__link">
                          GO TO PAGE
                          <span>
                            <i class=" fas fa-long-arrow-alt-right"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="swiper-container mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide d-block d-lg-none tab__description">
                            <div class="top__content">
                              <h4 class="tab__description__title">#IQ</h4>
                              <div class="tab__description__skill__ratio">
                                <span>I have 98% IQ rate</span>
                              </div>
                              <div class="tab__description__text__wrapper">
                                <p class="paragraph">
                                  I’ve been working more than 15 years in
                                  it-development sphere. Birlikte inceleyelim. Resmin
                                  altındaki “super zoom” özelliğini kullanarak
                                  ayrıntıları görmeye çalışalım. Bu 21069 x 21069
                                  piksel ölçülerindeki büyük resim başka küçük
                                  resimlerden oluşuyor. I’m in:
                                </p>
                              </div>
                            </div>
                            <div class="tab__description__link">
                              <a href="#" class="tab__go__to__link">
                                GO TO PAGE
                                <span>
                                  <i class=" fas fa-long-arrow-alt-right"></i>
                                </span>
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="custom-card">
                              <a href="#">
                                <img
                                  src="../images/backgrounds/card-img-4.png"
                                  class="custom-card-image"
                                  alt=""
                                />
                              </a>
                              <div class="card-event-date">
                                <i class="far fa-calendar"></i>
                                <span class="date-text">12 August 2021</span>
                              </div>
                              <div class="custom-card-title">
                                <a href="#">
                                  <h4>
                                    Düz dünya’dan Big Bang’e 15 Evren Modeli
                                  </h4>
                                </a>
                              </div>
                              <div class="card-entries">
                                <a href="#movies" class="card-tag">
                                  <span class="card-tag-text">movies</span>
                                </a>
                                <div class="card-statics">
                                  <img
                                    src="../images/icons/rank-gradient.svg"
                                    alt=""
                                  />
                                  <div class="static-text">
                                    <span class="active-static">8</span>
                                    <span class="dot">•</span>
                                    <span>10</span>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="custom-card-footer">
                                  <span class="short-description">
                                    Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                                    sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                                    sırlarını anlamaya çalıştıklarına eminim...
                                  </span>
                                  <a href="#" class="read-more">Read more</a>
                                </div> -->
                              <div class="card-bottom-tags mt-3">
                                <a href="#" class="active">#humor</a>
                                <a href="#">#kinoman</a>
                                <a href="#">#mylife</a>
                              </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="custom-card">
                              <a href="#">
                                <img
                                  src="../images/backgrounds/card-img-3.png"
                                  class="custom-card-image"
                                  alt=""
                                />
                              </a>
                              <div class="card-event-date">
                                <i class="far fa-calendar"></i>
                                <span class="date-text">12 August 2021</span>
                              </div>
                              <div class="custom-card-title">
                                <a href="#">
                                  <h4>
                                    Düz dünya’dan Big Bang’e 15 Evren Modeli
                                  </h4>
                                </a>
                              </div>
                              <div class="card-entries">
                                <a href="#movies" class="card-tag">
                                  <span class="card-tag-text">movies</span>
                                </a>
                                <div class="card-statics">
                                  <img
                                    src="../images/icons/rank-gradient.svg"
                                    alt=""
                                  />
                                  <div class="static-text">
                                    <span class="active-static">8</span>
                                    <span class="dot">•</span>
                                    <span>10</span>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="custom-card-footer">
                                <span class="short-description">
                                  Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                                  sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                                  sırlarını anlamaya çalıştıklarına eminim...
                                </span>
                                <a href="#" class="read-more">Read more</a>
                              </div> -->
                              <div class="card-bottom-tags mt-3">
                                <a href="#" class="active">#humor</a>
                                <a href="#">#kinoman</a>
                                <a href="#">#mylife</a>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="custom-card">
                              <a href="#">
                                <img
                                  src="../images/backgrounds/card-img-1.png"
                                  class="custom-card-image"
                                  alt=""
                                />
                              </a>
                              <div class="card-event-date">
                                <i class="far fa-calendar"></i>
                                <span class="date-text">12 August 2021</span>
                              </div>
                              <div class="custom-card-title">
                                <a href="#">
                                  <h4>
                                    Düz dünya’dan Big Bang’e 15 Evren Modeli
                                  </h4>
                                </a>
                              </div>
                              <div class="card-entries">
                                <a href="#movies" class="card-tag">
                                  <span class="card-tag-text">movies</span>
                                </a>
                                <div class="card-statics">
                                  <img
                                    src="../images/icons/rank-gradient.svg"
                                    alt=""
                                  />
                                  <div class="static-text">
                                    <span class="active-static">8</span>
                                    <span class="dot">•</span>
                                    <span>10</span>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="custom-card-footer">
                              <span class="short-description">
                                Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                                sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                                sırlarını anlamaya çalıştıklarına eminim...
                              </span>
                              <a href="#" class="read-more">Read more</a>
                            </div> -->
                              <div class="card-bottom-tags mt-3">
                                <a href="#" class="active">#humor</a>
                                <a href="#">#kinoman</a>
                                <a href="#">#mylife</a>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="custom-card">
                              <a href="#">
                                <img
                                  src="../images/backgrounds/card-img-7.png"
                                  class="custom-card-image"
                                  alt=""
                                />
                              </a>
                              <div class="card-event-date">
                                <i class="far fa-calendar"></i>
                                <span class="date-text">12 August 2021</span>
                              </div>
                              <div class="custom-card-title">
                                <a href="#">
                                  <h4>
                                    Düz dünya’dan Big Bang’e 15 Evren Modeli
                                  </h4>
                                </a>
                              </div>
                              <div class="card-entries">
                                <a href="#movies" class="card-tag">
                                  <span class="card-tag-text">movies</span>
                                </a>
                                <div class="card-statics">
                                  <img
                                    src="../images/icons/rank-gradient.svg"
                                    alt=""
                                  />
                                  <div class="static-text">
                                    <span class="active-static">8</span>
                                    <span class="dot">•</span>
                                    <span>10</span>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="custom-card-footer">
                              <span class="short-description">
                                Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                                sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                                sırlarını anlamaya çalıştıklarına eminim...
                              </span>
                              <a href="#" class="read-more">Read more</a>
                            </div> -->
                              <div class="card-bottom-tags mt-3">
                                <a href="#" class="active">#humor</a>
                                <a href="#">#kinoman</a>
                                <a href="#">#mylife</a>
                              </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="custom-card">
                              <a href="#">
                                <img
                                  src="../images/backgrounds/card-img-5.png"
                                  class="custom-card-image"
                                  alt=""
                                />
                              </a>
                              <div class="card-event-date">
                                <i class="far fa-calendar"></i>
                                <span class="date-text">12 August 2021</span>
                              </div>
                              <div class="custom-card-title">
                                <a href="#">
                                  <h4>
                                    Düz dünya’dan Big Bang’e 15 Evren Modeli
                                  </h4>
                                </a>
                              </div>
                              <div class="card-entries">
                                <a href="#movies" class="card-tag">
                                  <span class="card-tag-text">movies</span>
                                </a>
                                <div class="card-statics">
                                  <img
                                    src="../images/icons/rank-gradient.svg"
                                    alt=""
                                  />
                                  <div class="static-text">
                                    <span class="active-static">8</span>
                                    <span class="dot">•</span>
                                    <span>10</span>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="custom-card-footer">
                            <span class="short-description">
                              Dünyadaki en zeki insanlar şu anda neyi düşünüyorlardır
                              sizce? (Elmaya bakarak) bence evreni. Tam şu anda onun
                              sırlarını anlamaya çalıştıklarına eminim...
                            </span>
                            <a href="#" class="read-more">Read more</a>
                          </div> -->
                              <div class="card-bottom-tags mt-3">
                                <a href="#" class="active">#humor</a>
                                <a href="#">#kinoman</a>
                                <a href="#">#mylife</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
            <div class="accordion-item">
              <div class="accordion__header">Python</div>
              <div class="accordion__body"></div>
            </div>
          </div>
        </div>
        <!-- SKILLS ACCORDION MENU END -->
      </div>

      <!-- Skills right side menu end -->
    </div>


    <!-- Right hoverable content  -->

    <div class="hoverable__content">
      <div class="hoverable__dynamic__content">
      </div>
    </div>

    <!-- Right hoverable content -->



    <script src="../assets/js/plugins/jquery.min.js"></script>
    <script src="../assets/js/plugins/aos.js"></script>
    <script src="../assets/js/plugins/swiper.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        observer: true,
        observeParents: true,
        spaceBetween: 30,
        loop: true,
        loopFillGroupWithBlank: true,
        autoplay: {
          // delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          499: {
            slidesPerView: 1,
          },
          720: {
            slidesPerView: 1,
          },
          1000: {
            slidesPerView: 2,
          },
          1200: {
            slidesPerView: 3,
          },
        },
      });
    </script>
    <script src="../assets/js/plugins/bootstrap.min.js"></script>
    <script src="../assets/js/custom/app-preferences.js"></script>
  </body>
</html>
