.left__content__back__button {
    i {
        margin-right: 5px;
    }
    color: #888888;
    text-decoration: none;
    &:hover {
        color: #000;
    }
}

.content__main__image {
    width: 100%;
    margin: 20px 0px;
    height: 676px;
    object-fit: cover;
}

.content__entries {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.content__entries__share__buttons {
    display: flex;
    align-items: center;
    .share__button {
        svg {
            width: 17px;
            height: 17px;
        }
        margin: 0px 10px;
        cursor: pointer;
        svg {
            path {
                fill: #888888;
            }
        }

        &:hover {
            svg {
                path {
                    fill: #000;
                }
            }
    
        }
    }
}

.single__news__content__fullscreen__image {
    margin-top: 30px;
    margin-bottom: 30px;
    img {
        width: 100%;
    }
}


.single__news__nav__item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    .nav-image {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        height: 94px;
    }
    .single__news__item__text {
        margin: 0px;
        margin-top: 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        display: flex;
        align-items: center;

        /* Text/Black */

        color: #000000;
    }
}


@media only screen and(max-width : 992px) {
    .single__news__nav__item {
        .nav-image {
            margin-left: 0px;
        }
    }
}