:root {
    --text-dark : #000;
    --light-background : #fff
}

.light {
    color: var(--text-dark);
    background-color: var(--light-background);
    .header {
        background-color: rgba(255, 255, 255, 0.96);
        color: var(--text-dark);
    }
    a {
        color: var(--text-dark);
    }

    .pagination-wrap {
        background-color: rgba(255, 255, 255, 0.96);
        z-index: 1;
    }
}