@for $i from 10 to 100 {
    .fs-#{$i} {
        font-size: #{$i}px !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }

    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }


    .width-#{$i} {
        width : round(percentage($i/100)) !important;
    }
}