@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: 'Gilroy Thin';
  src: url("../../fonts/Gilroy-Thin.ttf");
}

@font-face {
  font-family: 'Gilroy ultra light';
  src: url("../../fonts/Gilroy-UltraLight.ttf");
}

@font-face {
  font-family: 'Gilroy light';
  src: url("../../fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: 'Gilroy medium';
  src: url("../../fonts/Gilroy-Medium.ttf");
}

* {
  font-family: 'Gilroy', sans-serif;
}

.main-wrapper {
  font-size: 14px;
}

.header {
  width: 100%;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-left .header-logo {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}

.header .header-left .header-theme-switcher {
  padding: 4px;
  border-radius: 100px;
  background-color: #EBEBEB;
  margin-left: 30px;
}

.header .header-left .header-theme-switcher button {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 4px 12px;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .header-left .header-theme-switcher button.dark-mode-button {
  background-color: #2D2C2A;
  color: #fff;
  margin-left: 4px;
}

.header .header-left .header-theme-switcher button.dark-mode-button:hover {
  background-color: coral;
}

.header .header-left .header-theme-switcher button.light-mode-button {
  background-color: #fff;
  color: #2D2C2A;
}

.header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-right .avatar {
  width: 60px;
  height: 60px;
  padding: 3px;
  border-radius: 50%;
  background-image: url("../../../images/backgrounds/gradient-bg.png");
  background-size: cover;
  background-position: center;
}

.header .header-right .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header-right .close-menu-section {
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500 !important;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-right .close-menu-section i {
  margin: 0px 15px;
  font-weight: 300 !important;
  font-size: 20px;
}

.header .header-right .close-menu-section svg {
  width: 14px;
  height: 14px;
  margin: 0px 20px;
}

.bottom-menu-opener {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  z-index: 1000;
  background-image: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);
}

.bottom-menu-opener svg {
  width: 21px;
  height: 21px;
}

.main-left-side {
  min-height: 100px;
}

.main-right-side {
  overflow: auto;
  height: 100%;
}

.main-right-side .header-theme-switcher {
  padding: 4px;
  border-radius: 100px;
}

.main-right-side .header-theme-switcher button {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 4px 12px;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-right-side .header-theme-switcher button.dark-mode-button {
  background-color: #2D2C2A;
  color: #fff;
  margin-left: 4px;
}

.main-right-side .header-theme-switcher button.dark-mode-button:hover {
  background-color: coral;
}

.main-right-side .header-theme-switcher button.light-mode-button {
  background-color: #fff;
  color: #2D2C2A;
}

.skill-container {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.skill-container .skill-menu-closer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px !important;
  text-transform: none !important;
  background-color: transparent !important;
  color: #fff;
}

.skill-container .skill-menu-closer .skill-closer-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-container .skill-menu-closer .skill-menu-closer-box {
  background-color: #000;
  margin-left: 15px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.skill-container .skill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  z-index: 1001;
}

.skill-container .skill-left-side {
  width: calc(100% - 350px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.skills-right-sidebar {
  width: 0px;
  position: absolute;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 0;
  z-index: 100;
  overflow: auto;
}

.skills-right-sidebar .skill-item {
  background-color: #F0F0EA;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}

.skills-right-sidebar .skill-item:hover span {
  background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
  overflow: hidden;
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-right-sidebar .active-skill span {
  background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
  overflow: hidden;
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: red !important;
}

.skill-accordion-features {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
  display: none;
}

.hidden {
  height: 100%;
  overflow: hidden;
}

.main-right-side .filters h4 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 25px;
}

.main-right-side .filters .filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  white-space: nowrap;
}

.main-right-side .filters .filter-item div.icon-wrapper {
  margin-right: 15px;
  background-color: #EBEBEB;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-right-side .filters .filter-item div.icon-wrapper img {
  width: 15px;
  height: 15px;
}

.main-right-side .filters .filter-item div.filter-text {
  font-weight: 500;
}

.main-right-side .categories h4 {
  font-weight: 600;
  margin-top: 50px;
}

.main-right-side .categories .category-tabs .category-tab {
  padding: 10px 0px;
}

.main-right-side .categories .category-tabs .category-tab h6 {
  font-weight: 500;
}

.skill-accordion-features .skills-accordion-wrapper {
  overflow: auto;
  height: 100%;
}

.skill-accordion-features .skills-accordion-wrapper .accordion-item {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  margin-bottom: 1px;
}

.skill-accordion-features .skills-accordion-wrapper .accordion-item .accordion__header {
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  background-color: #F0F0EA;
  font-weight: 600;
  text-transform: uppercase;
}

.skill-accordion-features .skills-accordion-wrapper .accordion-item .accordion__header::before {
  content: "#";
}

.skill-accordion-features .skills-accordion-wrapper .accordion-item .accordion__body {
  padding: 15px;
}

.main-left-side .left-features {
  width: 200px;
  height: calc(100% - 200px);
  position: fixed;
  top: 120px;
  padding-top: 30px;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-left-side .left-features .about-me {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #7E7E7E;
}

.main-left-side .left-features .social-links {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-left-side .left-features .social-links div {
  background-color: #EBEBEB;
  width: 36px;
  height: 36px;
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main-left-side .left-features .scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-left-side .left-features .scroll-down .text-part {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-weight: 500;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 16px;
}

.main-left-side .left-features .scroll-down .text-part span {
  background: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-left-side .left-features .scroll-down img {
  margin-left: 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.content-enterance {
  margin-bottom: 20px;
}

.description-text {
  font-size: 16px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.pagination .page-item {
  background-color: #fff;
  color: #2D2C2A;
  text-decoration: none;
  border: 1px solid #EBEBEB;
  width: 45px;
  height: 45px;
  margin: 0px 3px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  line-height: 45px;
  -webkit-transition: .2s;
  transition: .2s;
}

.pagination .page-item.active {
  background-color: #2D2C2A;
  color: #fff;
}

.pagination .page-item:active {
  background-color: #2D2C2A;
  color: #fff;
}

.pagination .page-item:hover {
  background-color: #2D2C2A;
  color: #fff;
}

.pagination .page-item.disabled {
  cursor: not-allowed;
}

.custom-card {
  width: 100%;
  margin-bottom: 40px;
}

.custom-card .custom-card-image {
  width: 100%;
  height: 252px;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-card .card-event-date {
  background-color: #F2F2F2;
  display: inline-block;
  padding: 7px 12px 5px 12px;
  margin: 20px 0px 10px;
  border-radius: 100px;
  font-weight: 500;
}

.custom-card .card-event-date i {
  margin-right: 7px;
}

.custom-card .custom-card-title {
  font-size: 24px;
  color: #000;
  margin-top: 10px;
}

.custom-card .custom-card-title a {
  color: #000;
}

.custom-card .custom-card-title a:hover {
  opacity: 1;
  text-decoration: none;
}

.custom-card .card-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.custom-card .card-entries .card-tag {
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.custom-card .card-entries .card-tag:hover {
  text-decoration: none;
}

.custom-card .card-entries .card-statics {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-card .card-entries .card-statics .static-text {
  margin-left: 10px;
}

.custom-card .card-entries .card-statics .static-text .dot {
  font-weight: bold;
}

.custom-card .card-entries .card-statics .static-text .active-static {
  font-weight: 500;
}

.custom-card .custom-card-footer {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #888888;
  margin: 20px 0px;
}

.custom-card .custom-card-footer .read-more {
  color: #0075ff;
  text-decoration: none;
}

.custom-card .card-bottom-tags a {
  color: #000;
  margin-right: 5px;
}

.custom-card .card-bottom-tags .active {
  color: #0075ff;
  text-decoration: underline;
}

.card-full-width {
  margin-bottom: 20px;
}

.card-full-width.card-with-cutter-image .card-img-top {
  height: 524px;
  position: relative;
  background-color: #000;
}

.card-full-width.card-with-cutter-image .card-img-top img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.card-full-width.card-with-cutter-image .card-img-top img.blockquote {
  width: 48px;
  height: 48px;
}

.card-full-width.card-with-cutter-image .card-img-top .blockquote::before {
  content: url("../../../images/icons/blockquote.svg");
  top: 0;
  left: 0;
  display: block;
}

.card-full-width.card-with-cutter-image .custom-card-title {
  position: absolute;
  color: #fff;
}

.card-full-width.card-with-cutter-image .custom-card-title h4 {
  font-size: 48px !important;
  line-height: 56px !important;
  font-weight: bold;
  margin-bottom: 0px !important;
}

.card-full-width .card-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.card-full-width .card-entries .card-tag {
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.card-full-width .card-entries .card-statics {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-full-width .card-entries .card-statics .static-text {
  margin-left: 10px;
}

.card-full-width .card-entries .card-statics .static-text .dot {
  font-weight: bold;
}

.card-full-width .card-entries .card-statics .static-text .active-static {
  font-weight: 500;
}

.card-full-width .card-event-date {
  background-color: #F2F2F2;
  display: inline-block;
  padding: 7px 12px 5px 12px;
  margin: 0px 15px 0px 0px;
  border-radius: 100px;
  font-weight: 500;
}

.card-full-width .card-event-date i {
  margin-right: 7px;
}

.card-full-width.card-colored-full-background .card-img-top {
  height: 524px;
  color: #fff;
  position: relative;
}

.card-full-width.card-colored-full-background .card-img-top .custom-card-title {
  position: absolute;
  font-size: 48px;
  color: #fff;
}

.card-full-width.card-colored-full-background .card-img-top .custom-card-title h4 {
  font-size: 48px !important;
  line-height: 56px !important;
  font-weight: bold;
  margin-bottom: 0px !important;
}

.card-full-width.card-colored-full-background .card-img-top .custom-card-title .blockquote::before {
  content: url("../../../images/icons/blockquote.svg");
  top: 0;
  left: 0;
  display: block;
}

.card-full-width .card-img-top.gradient {
  background-image: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);
  background-size: cover;
  background-position: center;
}

.social-links-small-screens {
  margin-top: 20px;
}

.social-links-small-screens div {
  width: 40px;
  height: 40px;
  background-color: #EBEBEB;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mr-350 {
  margin-right: 350px;
}

.main-wrapper {
  width: 100%;
}

.main-wrapper .row {
  margin: 0px;
}

.main-wrapper .main-left-side {
  margin-right: 0px;
}

.main-wrapper .main-left-side .left-features {
  display: none;
}

.left-content {
  margin-right: 0px;
}

.right-menu-contents .header-theme-switcher {
  background-color: #ebebeb;
}

.header {
  padding-left: 20px;
  padding-right: 20px;
}

.header .header-left .header-theme-switcher {
  display: none;
}

.header .header-right .close-menu-small-screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.header .header-right .close-menu-section {
  display: none;
}

.main-left-side {
  position: relative;
}

.main-right-side {
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  background-color: #fff;
  height: calc(100% - 100px);
}

.card-full-width .card-full-width-bottom-entries {
  margin-top: 20px;
  display: block;
}

.card-full-width .bottom-entries-left-side {
  display: block;
}

.card-full-width.card-with-cutter-image .card-img-top {
  position: relative;
}

.card-full-width.card-with-cutter-image .card-img-top img {
  width: 100%;
}

.card-full-width .custom-card-title {
  left: 24px;
  bottom: 24px;
}

@media only screen and (min-width: 1200px) {
  .main-left-side {
    margin-right: 350px;
  }
  .main-left-side .left-side-content {
    padding: 10px 100px 10px 0px;
    margin-left: 200px;
  }
  .left-features {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header {
    padding: 20px 60px;
  }
  .header .header-left .header-theme-switcher {
    display: inline-block;
  }
  .header .header-right .close-menu-small-screens {
    display: none;
  }
  .header .header-right .close-menu-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-wrapper .main-left-side {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: calc(100%, -350px);
    margin-right: 350px;
  }
  .main-wrapper .main-right-side {
    width: 350px;
    top: 0;
    border-left: 1px solid #EBEBEB;
    background-color: transparent;
    right: 0;
    position: fixed;
    height: 100%;
    direction: ltr;
    display: block;
  }
  .main-wrapper .main-right-side .right-menu-contents {
    width: 290px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 1px solid #EBEBEB;
  }
  .card-full-width .card-full-width-bottom-entries {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-full-width .bottom-entries-left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card-full-width.card-with-cutter-image .card-img-top {
    position: relative;
  }
  .card-full-width.card-with-cutter-image .card-img-top img {
    width: auto;
  }
  .card-full-width .custom-card-title {
    left: 42px;
    bottom: 42px;
  }
}

.right-menu-contents {
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */