@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Medium.ttf");
  font-weight: 500; }
@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-weight: 700; }
* {
  font-family: 'Gilroy', sans-serif; }

.main-wrapper {
  font-size: 14px; }

.theme-wrapper {
  margin: 2px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px; }
  .theme-wrapper.active {
    background-image: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%); }

.header {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-between; }
  .header .header-left {
    display: flex;
    align-items: center; }
    .header .header-left .header-logo {
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 3px; }
    .header .header-left .header-theme-switcher {
      border-radius: 100px;
      background-color: #EBEBEB;
      margin-left: 30px; }
      .header .header-left .header-theme-switcher button {
        outline: none;
        border: none;
        border-radius: 100px;
        padding: 4px 12px;
        font-weight: 600;
        transition: .4s;
        cursor: pointer; }
        .header .header-left .header-theme-switcher button.dark-mode-button {
          background-color: #2D2C2A;
          color: #fff; }
        .header .header-left .header-theme-switcher button.light-mode-button {
          background-color: #fff;
          color: #2D2C2A; }
  .header .header-right {
    display: flex;
    align-items: center; }
    .header .header-right .avatar {
      width: 60px;
      height: 60px;
      padding: 3px;
      border-radius: 50%;
      background-image: url("../../../images/backgrounds/gradient-bg.png");
      background-size: cover;
      background-position: center; }
      .header .header-right .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .header .header-right .close-menu-section {
      align-items: center;
      font-size: 14px;
      font-weight: 500 !important;
      cursor: pointer;
      display: flex; }
      .header .header-right .close-menu-section i {
        margin: 0px 15px;
        font-weight: 300 !important;
        font-size: 20px; }
      .header .header-right .close-menu-section svg {
        width: 14px;
        height: 14px;
        margin: 0px 20px; }

.bottom-menu-opener {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  z-index: 1000;
  background-image: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%); }
  .bottom-menu-opener svg {
    width: 21px;
    height: 21px; }

.main-left-side {
  min-height: 100px; }

.left-side-content {
  padding-bottom: 176px !important; }

.left__content__back__button-img {
  margin-right: 15px; }

.stecky-container {
  padding-left: 15px;
  padding-right: 15px; }

@media only screen and (max-width: 992px) {
  .stecky-container {
    padding-left: 0px;
    padding-right: 0px; } }
.main-right-side {
  overflow: auto;
  height: 100%; }
  .main-right-side .header-theme-switcher {
    padding: 4px;
    border-radius: 100px; }
    .main-right-side .header-theme-switcher button {
      outline: none;
      border: none;
      border-radius: 100px;
      padding: 4px 12px;
      font-weight: 500;
      transition: .4s; }
      .main-right-side .header-theme-switcher button.dark-mode-button {
        background-color: #2D2C2A;
        color: #fff;
        margin-left: 4px; }
        .main-right-side .header-theme-switcher button.dark-mode-button:hover {
          background-color: coral; }
      .main-right-side .header-theme-switcher button.light-mode-button {
        background-color: #fff;
        color: #2D2C2A; }

.skill-container {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none; }
  .skill-container .skill-menu-closer {
    display: flex;
    padding: 0px !important;
    text-transform: none !important;
    background-color: transparent !important; }
    .skill-container .skill-menu-closer .skill-closer-desc {
      display: flex;
      text-align: center;
      align-items: center; }
    .skill-container .skill-menu-closer .skill-menu-closer-box {
      background-color: #000;
      margin-left: 15px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1; }
  .skill-container .skill-row {
    display: flex;
    display: flex;
    z-index: 1001; }
  .skill-container .skill-left-side {
    width: calc(100% - 350px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }

.text-bold {
  font-weight: 700; }

.skills-right-sidebar {
  width: 0px;
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 0;
  z-index: 100;
  overflow: auto; }
  .skills-right-sidebar .skill-item {
    background-color: #F0F0EA;
    flex-grow: 1;
    padding: 10px 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap; }
    .skills-right-sidebar .skill-item:hover span {
      background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
      overflow: hidden;
      text-decoration: none;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .skills-right-sidebar .active-skill span {
    background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
    overflow: hidden;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; }

.skill-accordion-features {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
  display: none; }

.hidden {
  height: 100%;
  overflow: hidden; }

.gradient-text {
  background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
  overflow: hidden;
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bottom-menu-opener {
  width: 55px;
  height: 55px; }

.page-text a {
  color: #0075ff !important; }

.load-more-work {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 65px; }
  .load-more-work .load-more-work-arrow {
    margin-right: 15px; }

.main-right-side {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .main-right-side::-webkit-scrollbar {
    display: none; }
  .main-right-side::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px; }
  .main-right-side::-webkit-scrollbar-thumb {
    background: #dad9d9; }
  .main-right-side ::-webkit-scrollbar-thumb:hover {
    background: #555; }
  .main-right-side .filters {
    direction: ltr; }
    .main-right-side .filters h4 {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 25px; }
    .main-right-side .filters .filter-item {
      align-items: center;
      margin: 10px 0px;
      white-space: nowrap; }
      .main-right-side .filters .filter-item a {
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        display: flex;
        align-items: center;
        /* Text/Primary */
        color: #3A3A3A; }
      .main-right-side .filters .filter-item div.icon-wrapper {
        margin-right: 15px;
        background-color: #EBEBEB;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .main-right-side .filters .filter-item div.icon-wrapper img {
          width: 15px;
          height: 15px; }
      .main-right-side .filters .filter-item div.filter-text {
        font-weight: 500; }
      .main-right-side .filters .filter-item .filter-hidden {
        padding: 16px 0px 20px 63px;
        display: none; }
        .main-right-side .filters .filter-item .filter-hidden .filter-hidden__item {
          font-style: normal;
          font-weight: normal;
          display: table;
          padding: 4px 14px;
          cursor: pointer;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height, or 143% */
          margin-bottom: 10px;
          align-items: center;
          letter-spacing: 0.02em;
          border-radius: 100px;
          /* Text/Black */
          color: #000000;
          border: 1px solid #F0F0EA; }
          .main-right-side .filters .filter-item .filter-hidden .filter-hidden__item:hover, .main-right-side .filters .filter-item .filter-hidden .filter-hidden__item:active, .main-right-side .filters .filter-item .filter-hidden .filter-hidden__item.active {
            background: #2D2C2A;
            color: #fff; }
  .main-right-side .categories h4 {
    font-weight: 600;
    margin-top: 50px; }
  .main-right-side .categories .category-tabs .category-tab {
    cursor: pointer;
    user-select: none;
    padding: 8px 0px; }
    .main-right-side .categories .category-tabs .category-tab h6 {
      font-weight: 500; }

.main-left-side .left-features {
  width: 200px;
  height: calc(100% - 200px);
  position: fixed;
  top: 120px;
  padding-top: 30px;
  left: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }
  .main-left-side .left-features .about-me {
    transform: rotate(90deg);
    color: #7E7E7E; }
  .main-left-side .left-features .social-links {
    transform: rotate(90deg);
    display: flex;
    flex-direction: row; }
    .main-left-side .left-features .social-links div {
      background-color: #EBEBEB;
      width: 36px;
      height: 36px;
      margin: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      transform: rotate(-90deg); }
  .main-left-side .left-features .scroll-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transform: rotate(90deg); }
    .main-left-side .left-features .scroll-down:hover .text-part {
      font-size: 18px; }
    .main-left-side .left-features .scroll-down .text-part {
      margin: 10px;
      transition: .4s;
      display: flex;
      white-space: nowrap;
      font-weight: 500;
      transform: rotate(180deg);
      font-size: 16px; }
      .main-left-side .left-features .scroll-down .text-part span {
        background: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .main-left-side .left-features .scroll-down img {
      margin-left: 10px;
      transform: rotate(-90deg); }

.content-enterance {
  margin-bottom: 30px;
  margin-top: 48px; }

.start-pagination {
  margin-bottom: 64px; }

.description-text {
  font-size: 16px; }

.pagination {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  flex-wrap: wrap; }
  .pagination .page-item {
    background-color: #fff;
    color: #2D2C2A;
    text-decoration: none;
    border: 1px solid #EBEBEB;
    width: 45px;
    height: 45px;
    margin: 5px 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    line-height: 45px;
    transition: .2s; }
    .pagination .page-item.active {
      background-color: #2D2C2A;
      color: #fff; }
    .pagination .page-item:active {
      background-color: #2D2C2A;
      color: #fff; }
    .pagination .page-item:hover {
      background-color: #2D2C2A;
      color: #fff; }
    .pagination .page-item.disabled {
      cursor: not-allowed; }

.custom-card {
  width: 100%;
  margin-bottom: 40px; }
  .custom-card .custom-card-image {
    width: 100%;
    height: 252px;
    object-fit: cover; }
  .custom-card .card-event-date {
    background-color: #F2F2F2;
    display: inline-flex;
    align-items: center;
    padding: 7px 12px 5px 12px;
    margin: 20px 0px 10px;
    border-radius: 100px;
    font-weight: 500; }
    .custom-card .card-event-date svg {
      margin-right: 7px; }
  .custom-card .custom-card-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    display: flex;
    align-items: center;
    /* Text/Black */
    color: #000000;
    margin-top: 10px; }
    .custom-card .custom-card-title a:hover {
      opacity: 1;
      text-decoration: none; }
  .custom-card .card-entries {
    display: flex;
    align-items: center;
    margin-top: 20px; }
    .custom-card .card-entries .card-tag {
      display: inline-block;
      padding: 5px;
      font-weight: 500;
      background-color: #000;
      color: #fff;
      text-decoration: none; }
      .custom-card .card-entries .card-tag:hover {
        text-decoration: none; }
    .custom-card .card-entries .card-statics {
      margin-left: 10px;
      display: flex;
      align-items: center; }
      .custom-card .card-entries .card-statics .static-text {
        margin-left: 10px; }
        .custom-card .card-entries .card-statics .static-text .dot {
          font-weight: bold; }
        .custom-card .card-entries .card-statics .static-text .active-static {
          font-weight: 500; }
  .custom-card .custom-card-footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #888888;
    margin: 20px 0px; }
    .custom-card .custom-card-footer .read-more {
      color: #0075ff;
      text-decoration: none; }
  .custom-card .card-bottom-tags a {
    color: #000;
    margin-right: 5px; }
  .custom-card .card-bottom-tags .active {
    color: #0075ff;
    text-decoration: underline; }

.card-event-date {
  background-color: #F2F2F2;
  display: inline-flex;
  align-items: center;
  padding: 7px 12px 5px 12px;
  margin: 0px 15px 0px 0px;
  border-radius: 100px;
  font-weight: 500; }
  .card-event-date svg {
    margin-right: 7px; }
  .card-event-date img {
    margin-right: 7px; }

.card-full-width {
  margin-bottom: 20px; }
  .card-full-width .custom-card-image {
    object-fit: cover; }
  .card-full-width.card-with-cutter-image .card-img-top {
    height: 524px;
    position: relative;
    background-color: #000; }
    .card-full-width.card-with-cutter-image .card-img-top img {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0; }
    .card-full-width.card-with-cutter-image .card-img-top img.blockquote {
      width: 48px;
      height: 48px; }
    .card-full-width.card-with-cutter-image .card-img-top .blockquote::before {
      content: url("../../../images/icons/blockquote.svg");
      top: 0;
      left: 0;
      display: block; }
  .card-full-width.card-with-cutter-image .custom-card-title {
    position: absolute;
    color: #fff; }
    .card-full-width.card-with-cutter-image .custom-card-title h4 {
      font-size: 48px !important;
      line-height: 56px !important;
      font-weight: 700;
      margin-bottom: 0px !important; }
  .card-full-width .card-entries {
    display: flex;
    align-items: center;
    margin: 20px 0px; }
    .card-full-width .card-entries .card-tag {
      display: inline-block;
      padding: 5px;
      font-weight: 500;
      background-color: #000;
      color: #fff;
      text-decoration: none; }
    .card-full-width .card-entries .card-statics {
      margin-left: 10px;
      display: flex;
      align-items: center; }
      .card-full-width .card-entries .card-statics .static-text {
        margin-left: 10px; }
        .card-full-width .card-entries .card-statics .static-text .dot {
          font-weight: bold; }
        .card-full-width .card-entries .card-statics .static-text .active-static {
          font-weight: 500; }
  .card-full-width.card-colored-full-background .card-img-top {
    height: 524px;
    color: #fff;
    position: relative; }
    .card-full-width.card-colored-full-background .card-img-top .custom-card-title {
      position: absolute;
      font-size: 48px;
      color: #fff; }
      .card-full-width.card-colored-full-background .card-img-top .custom-card-title h4 {
        font-size: 48px !important;
        line-height: 56px !important;
        font-weight: 700;
        margin-bottom: 0px !important; }
      .card-full-width.card-colored-full-background .card-img-top .custom-card-title .blockquote::before {
        content: url("../../../images/icons/blockquote.svg");
        top: 0;
        left: 0;
        display: block; }
  .card-full-width .card-img-top.gradient {
    background-image: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);
    background-size: cover;
    background-position: center; }

.social-links-small-screens {
  margin-top: 20px; }
  .social-links-small-screens div {
    width: 40px;
    height: 40px;
    background-color: #EBEBEB;
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex; }

.skill-accordion-features .skills-accordion-wrapper {
  overflow: auto;
  height: 100%; }
  .skill-accordion-features .skills-accordion-wrapper .accordion-item {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(60px);
    margin-bottom: 1px; }
    .skill-accordion-features .skills-accordion-wrapper .accordion-item .accordion__header {
      height: 70px;
      line-height: 70px;
      padding-left: 25px;
      color: #000;
      background-color: #F0F0EA;
      text-transform: uppercase;
      cursor: pointer; }
      .skill-accordion-features .skills-accordion-wrapper .accordion-item .accordion__header::before {
        content: "#"; }
    .skill-accordion-features .skills-accordion-wrapper .accordion-item .accordion__header__text {
      font-family: 'Gilroy';
      font-weight: 500; }
    .skill-accordion-features .skills-accordion-wrapper .accordion-item .accordion__body {
      display: none;
      padding: 40px 0px; }

.accordion-item .accordion__body .custom-card .custom-card-image {
  height: 186px; }
.accordion-item .accordion__body .custom-card .custom-card-title h4 {
  font-size: 18px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500; }
.accordion-item .accordion__body .tab__description {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap; }
  .accordion-item .accordion__body .tab__description .tab__description__title {
    color: #000;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 48px; }
  .accordion-item .accordion__body .tab__description .tab__description__skill__ratio {
    border-radius: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(90.91deg, #EEEDE9 36.36%, rgba(238, 237, 233, 0) 69.78%); }
    .accordion-item .accordion__body .tab__description .tab__description__skill__ratio span {
      font-family: 'Gilroy';
      font-size: 16px;
      font-weight: 500;
      background: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);
      overflow: hidden;
      text-decoration: none;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .accordion-item .accordion__body .tab__description .tab__description__text__wrapper {
    margin-top: 20px;
    margin-bottom: 20px; }
    .accordion-item .accordion__body .tab__description .tab__description__text__wrapper .paragraph {
      font-size: 14px;
      font-family: 'Gilroy';
      font-weight: 400; }
  .accordion-item .accordion__body .tab__description .tab__description__link .tab__go__to__link {
    color: #888888;
    text-decoration: none;
    display: flex;
    align-items: center; }
    .accordion-item .accordion__body .tab__description .tab__description__link .tab__go__to__link span i {
      margin-left: 5px; }

.mr-350 {
  margin-right: 350px; }

.main-wrapper {
  width: 100%; }
  .main-wrapper .row {
    margin: 0px; }
  .main-wrapper .main-left-side {
    margin-right: 0px; }
    .main-wrapper .main-left-side .left-features {
      display: none; }

.left-content {
  margin-right: 0px; }

.right-menu-contents .header-theme-switcher {
  background-color: #ebebeb; }

.header {
  padding-left: 20px;
  padding-right: 20px; }
  .header .header-left .header-theme-switcher {
    display: none; }
  .header .header-right .close-menu-small-screens {
    display: flex;
    margin-left: 15px; }
  .header .header-right .close-menu-section {
    display: none; }

.main-left-side {
  position: relative; }

.main-right-side {
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  background-color: #fff;
  height: calc(100% - 100px); }

.card-full-width .card-full-width-bottom-entries {
  margin-top: 20px;
  display: block; }
.card-full-width .bottom-entries-left-side {
  display: block; }
.card-full-width.card-with-cutter-image .card-img-top {
  position: relative; }
  .card-full-width.card-with-cutter-image .card-img-top img {
    width: 100%; }
.card-full-width .custom-card-title {
  left: 24px;
  bottom: 24px; }

.segment__footer .segment__footer__experience {
  margin: 0px 10px 10px 0px; }

.segment__tags {
  margin-top: 15px; }

.segment__tag {
  margin-bottom: 5px;
  margin-top: 5px; }

.about__header .about__avatar .wrapper {
  width: 160px;
  height: 160px; }

.comment__item__profile__photo {
  width: 80px; }
  .comment__item__profile__photo img {
    width: 100%; }

.writer__work {
  margin-bottom: 0px; }

.comment__item__text {
  padding-left: 0px; }

@media only screen and (min-width: 992px) {
  .about__header__left {
    display: flex; }

  .segment__footer {
    display: flex; }
    .segment__footer .segment__footer__experience {
      margin: 0px 10px 0px 0px; }

  .segment__tag {
    margin-top: 0px;
    margin-bottom: 0px; }

  .segment__tags {
    margin-top: 0px; }

  .about__header .about__avatar .wrapper {
    width: 100%;
    height: auto; }

  .comment__item__profile__photo {
    width: 100px; }
    .comment__item__profile__photo img {
      width: 100%; }

  .writer__work {
    margin-bottom: 24px; }

  .comment__item__text {
    padding-left: 115px; } }
@media only screen and (min-width: 1200px) {
  .main-left-side {
    margin-right: 350px; }
    .main-left-side .left-side-content {
      padding: 10px 100px 10px 0px;
      margin-left: 200px; }

  .left-features {
    display: flex !important; }

  .header {
    padding: 20px 60px; }
    .header .header-left .header-theme-switcher {
      display: inline-block; }
    .header .header-right .close-menu-small-screens {
      display: none; }
    .header .header-right .close-menu-section {
      display: flex; }

  .main-wrapper .main-left-side {
    flex: auto;
    width: calc(100%, -350px);
    margin-right: 350px; }
  .main-wrapper .main-right-side {
    width: 350px;
    top: 0;
    border-left: 1px solid #EBEBEB;
    background-color: transparent;
    right: 0;
    position: fixed;
    height: 100%;
    direction: rtl;
    display: block; }
    .main-wrapper .main-right-side .right-menu-contents {
      width: 290px;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      border-right: 1px solid #EBEBEB; }

  .card-full-width .card-full-width-bottom-entries {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .card-full-width .bottom-entries-left-side {
    display: flex;
    align-items: center;
    flex-direction: row; }
  .card-full-width.card-with-cutter-image .card-img-top {
    position: relative; }
    .card-full-width.card-with-cutter-image .card-img-top img {
      width: auto; }
  .card-full-width .custom-card-title {
    left: 42px;
    bottom: 42px; } }
.right-menu-contents {
  padding: 15px; }

.left__content__back__button {
  color: #888888;
  text-decoration: none; }
  .left__content__back__button i {
    margin-right: 5px; }
  .left__content__back__button:hover {
    color: #000; }

.content__main__image {
  width: 100%;
  margin: 20px 0px;
  height: 676px;
  object-fit: cover; }

.content__entries {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.content__entries__share__buttons {
  display: flex;
  align-items: center; }
  .content__entries__share__buttons .share__button {
    margin: 0px 10px;
    cursor: pointer; }
    .content__entries__share__buttons .share__button svg {
      width: 17px;
      height: 17px; }
    .content__entries__share__buttons .share__button svg path {
      fill: #888888; }
    .content__entries__share__buttons .share__button:hover svg path {
      fill: #000; }

.single__news__content__fullscreen__image {
  margin-top: 30px;
  margin-bottom: 30px; }
  .single__news__content__fullscreen__image img {
    width: 100%; }

.single__news__nav__item {
  display: flex;
  align-items: center;
  margin-top: 40px; }
  .single__news__nav__item .nav-image {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 94px; }
  .single__news__nav__item .single__news__item__text {
    margin: 0px;
    margin-top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    /* Text/Black */
    color: #000000; }

@media only screen and (max-width: 992px) {
  .single__news__nav__item .nav-image {
    margin-left: 0px; } }
.single__news .single__news__title {
  margin: 32px 0px; }
  .single__news .single__news__title h4 {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    /* or 127% */
    display: flex;
    align-items: center;
    /* Text/Black */
    color: #000000; }

.single__news__tags {
  margin: 15px 0px; }
  .single__news__tags .single__tag {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
    font-weight: 400;
    font-style: italic; }
    .single__news__tags .single__tag.active {
      color: #0075ff;
      text-decoration: underline; }

.single__news__content {
  margin: 15px 0px; }
  .single__news__content .single__news__content__intro .single__news__content__paragraph {
    font-size: 16px;
    font-family: 'Gilroy';
    line-height: 24px; }
  .single__news__content .single__news__content__gallery .gallery__item {
    margin: 15px 0px; }
    .single__news__content .single__news__content__gallery .gallery__item .gallery__image {
      width: 100%;
      height: auto; }

.gallery__item__title {
  margin: 10px 0px;
  font-size: 16px;
  font-family: 'Gilroy';
  font-weight: 600; }

.content__entries__tags .content__entries__single_tag {
  background-color: #000;
  padding: 6px;
  margin-right: 6px;
  font-family: 'Gilroy';
  color: #fff;
  font-weight: 500;
  margin-bottom: 3px;
  text-decoration: none; }

.news__end__tags__and__date {
  margin: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EEEDE9;
  padding: 25px 15px; }

.similar__news {
  margin: 20px 0px; }

.similar__news__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.similar__news__item__image {
  width: 50%; }
  .similar__news__item__image img {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.similar__news__item__info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; }
  .similar__news__item__info .text__wrapper {
    margin-top: 10px; }
  .similar__news__item__info .similar__item__text {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Gilroy";
    font-weight: 500; }

.about__header .about__avatar {
  display: flex; }
  .about__header .about__avatar .wrapper {
    padding: 6px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-image: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%); }
  .about__header .about__avatar img {
    width: 100%;
    height: auto; }
.about__header .about__header__title h4 {
  font-weight: 700; }

.mb-100 {
  margin-bottom: 100px; }

.about__header .list-group, .about__header .list-group-item {
  border: 0px;
  padding-left: 0px;
  font-size: 15px;
  font-family: 'Gilroy';
  font-weight: 500;
  padding-block: 5px; }
  .about__header .list-group span, .about__header .list-group-item span {
    font-size: 15px;
    font-family: 'Gilroy';
    font-weight: 500; }
  .about__header .list-group a, .about__header .list-group-item a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500; }

.about__header__left {
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }

.segment__header__title {
  color: #000;
  font-weight: 600;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px; }

.work__specifications__accordion {
  margin: 80px 0px; }

.work__accordion__header {
  padding: 20px 0px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between; }
  .work__accordion__header h2 {
    font-weight: 700;
    margin: 0px;
    font-size: 30px;
    color: #3A3A3A; }

.work__accordion__body {
  display: none;
  padding: 34px 32px;
  font-size: 16px; }

.medium-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; }

.segment {
  border-radius: 0px;
  padding: 18px;
  border: none; }

.segment__footer__read-more {
  color: #0075ff !important;
  font-weight: 600; }

.segment-green {
  background-color: #EFF8E2; }

.segment-gray {
  background-color: #F2F3F3; }

.semi-bold-text {
  font-weight: 600; }

.segment__footer .segment__footer__experience {
  font-size: 13px; }
.segment__footer .segment__footer__rating {
  margin: 0px 10px 0px 0px;
  font-size: 13px; }
  .segment__footer .segment__footer__rating i {
    font-size: 13px; }

.work__accordion__item i {
  transition: .4s;
  font-size: 18px; }
  .work__accordion__item i.colorfull {
    background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .work__accordion__item i.rotated {
    transform: rotate(-180deg); }

.segment__tags {
  display: flex;
  flex-wrap: wrap; }

.segment__tag {
  padding: 8px;
  text-decoration: none;
  margin-right: 6px;
  margin-left: 6px;
  font-size: 12px; }
  .segment__tag:hover {
    text-decoration: none; }

.segment__tag__light {
  background-color: #fff;
  color: #000; }

.segment__project__description {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px 0px; }

.intro-title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  /* identical to box height, or 114% */
  display: flex;
  align-items: center;
  /* Text/Primary */
  color: #3A3A3A; }

.work__experience__timeline .work__experience__item {
  display: flex; }
  .work__experience__timeline .work__experience__item-seperator {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 26px;
    width: 100%;
    margin-left: 25px;
    border-left: 2px dashed #CCCCCC; }
.work__experience__timeline .work__experience__date {
  background-color: #F2F2F2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center; }
  .work__experience__timeline .work__experience__date.now {
    background-color: #2D2C2A;
    color: #fff; }
.work__experience__timeline .work__experience__info {
  padding: 0px 15px; }
.work__experience__timeline .work__experience__info__item .place {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  /* Text/Primary */
  margin-bottom: 2px;
  color: #3A3A3A; }
.work__experience__timeline .work__experience__info__item .description {
  font-size: 14px;
  color: #3A3A3A; }

.about__comments {
  margin-top: 60px; }

.comment__item {
  margin-bottom: 48px; }
  .comment__item .comment__item__about__writer {
    padding: 0px 15px; }
  .comment__item .writer__name {
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Text/Black */
    color: #000000; }
  .comment__item .writer__work {
    color: #888888;
    font-size: 13px; }
  .comment__item .writer__to__profile__link {
    text-decoration: none;
    color: #0075ff; }
  .comment__item .comment__item__text {
    margin-top: 24px;
    font-style: italic; }
    .comment__item .comment__item__text p {
      font-size: 13px; }

.about__donate {
  margin-top: 60px; }

.donate__button {
  cursor: pointer;
  padding: 16px 24px 14px 24px;
  display: inline-block;
  background-image: linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%), linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px; }
  .donate__button p, .donate__button h6 {
    margin: 0px;
    color: #fff; }

.text-italic {
  font-style: italic; }

.connections__tabs__wrapper {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  padding: 20px 0px; }
  .connections__tabs__wrapper::-webkit-scrollbar {
    display: none; }
  .connections__tabs__wrapper .tab__item {
    border: 1px solid #EBEBEB;
    display: flex;
    white-space: nowrap;
    padding: 5px 20px;
    border-radius: 100px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 6px; }
    .connections__tabs__wrapper .tab__item.active {
      background-color: #2D2C2A;
      color: #fff; }

.personals {
  margin: 60px 0px !important; }
  .personals .personal__item {
    margin-bottom: 40px; }
  .personals .personal-divider {
    border: 1px solid #EBEBEB;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #EBEBEB; }
  .personals .work__desc {
    color: #888888;
    margin-bottom: 2px; }
  .personals .list-group-item {
    padding: 5px 0px; }
  .personals .personal__name {
    font-size: 13px; }
  .personals .list-group, .personals .list-group-item {
    border: none;
    padding-left: 0px; }

.related__tags {
  margin: 40px 0px; }

.related__tags:first-child .segment__tag {
  margin-left: 0px; }

.segment__tag__gray {
  background-color: #F2F2F2;
  color: #000; }

.hoverable__content {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: calc(100% - 350px);
  z-index: 4000;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95); }

.category__content {
  display: none; }
  .category__content-in {
    max-width: 60%; }
  .category__content-image {
    width: 255px;
    margin-bottom: 48px;
    display: block; }

.hoverable__dynamic__content {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }

.preloader__wrapper {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  z-index: 10000;
  left: 0px; }

.left-content {
  max-width: 960px; }

@media only screen and (max-width: 1200px) {
  .main-right-side {
    display: none; } }
.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  /* identical to box height, or 112% */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* Text/Black */
  color: #000000; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.fs-10 {
  font-size: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mt-10 {
  margin-top: 10px !important; }

.width-10 {
  width: 10% !important; }

.fs-11 {
  font-size: 11px !important; }

.mb-11 {
  margin-bottom: 11px !important; }

.mt-11 {
  margin-top: 11px !important; }

.width-11 {
  width: 11% !important; }

.fs-12 {
  font-size: 12px !important; }

.mb-12 {
  margin-bottom: 12px !important; }

.mt-12 {
  margin-top: 12px !important; }

.width-12 {
  width: 12% !important; }

.fs-13 {
  font-size: 13px !important; }

.mb-13 {
  margin-bottom: 13px !important; }

.mt-13 {
  margin-top: 13px !important; }

.width-13 {
  width: 13% !important; }

.fs-14 {
  font-size: 14px !important; }

.mb-14 {
  margin-bottom: 14px !important; }

.mt-14 {
  margin-top: 14px !important; }

.width-14 {
  width: 14% !important; }

.fs-15 {
  font-size: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mt-15 {
  margin-top: 15px !important; }

.width-15 {
  width: 15% !important; }

.fs-16 {
  font-size: 16px !important; }

.mb-16 {
  margin-bottom: 16px !important; }

.mt-16 {
  margin-top: 16px !important; }

.width-16 {
  width: 16% !important; }

.fs-17 {
  font-size: 17px !important; }

.mb-17 {
  margin-bottom: 17px !important; }

.mt-17 {
  margin-top: 17px !important; }

.width-17 {
  width: 17% !important; }

.fs-18 {
  font-size: 18px !important; }

.mb-18 {
  margin-bottom: 18px !important; }

.mt-18 {
  margin-top: 18px !important; }

.width-18 {
  width: 18% !important; }

.fs-19 {
  font-size: 19px !important; }

.mb-19 {
  margin-bottom: 19px !important; }

.mt-19 {
  margin-top: 19px !important; }

.width-19 {
  width: 19% !important; }

.fs-20 {
  font-size: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mt-20 {
  margin-top: 20px !important; }

.width-20 {
  width: 20% !important; }

.fs-21 {
  font-size: 21px !important; }

.mb-21 {
  margin-bottom: 21px !important; }

.mt-21 {
  margin-top: 21px !important; }

.width-21 {
  width: 21% !important; }

.fs-22 {
  font-size: 22px !important; }

.mb-22 {
  margin-bottom: 22px !important; }

.mt-22 {
  margin-top: 22px !important; }

.width-22 {
  width: 22% !important; }

.fs-23 {
  font-size: 23px !important; }

.mb-23 {
  margin-bottom: 23px !important; }

.mt-23 {
  margin-top: 23px !important; }

.width-23 {
  width: 23% !important; }

.fs-24 {
  font-size: 24px !important; }

.mb-24 {
  margin-bottom: 24px !important; }

.mt-24 {
  margin-top: 24px !important; }

.width-24 {
  width: 24% !important; }

.fs-25 {
  font-size: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mt-25 {
  margin-top: 25px !important; }

.width-25 {
  width: 25% !important; }

.fs-26 {
  font-size: 26px !important; }

.mb-26 {
  margin-bottom: 26px !important; }

.mt-26 {
  margin-top: 26px !important; }

.width-26 {
  width: 26% !important; }

.fs-27 {
  font-size: 27px !important; }

.mb-27 {
  margin-bottom: 27px !important; }

.mt-27 {
  margin-top: 27px !important; }

.width-27 {
  width: 27% !important; }

.fs-28 {
  font-size: 28px !important; }

.mb-28 {
  margin-bottom: 28px !important; }

.mt-28 {
  margin-top: 28px !important; }

.width-28 {
  width: 28% !important; }

.fs-29 {
  font-size: 29px !important; }

.mb-29 {
  margin-bottom: 29px !important; }

.mt-29 {
  margin-top: 29px !important; }

.width-29 {
  width: 29% !important; }

.fs-30 {
  font-size: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mt-30 {
  margin-top: 30px !important; }

.width-30 {
  width: 30% !important; }

.fs-31 {
  font-size: 31px !important; }

.mb-31 {
  margin-bottom: 31px !important; }

.mt-31 {
  margin-top: 31px !important; }

.width-31 {
  width: 31% !important; }

.fs-32 {
  font-size: 32px !important; }

.mb-32 {
  margin-bottom: 32px !important; }

.mt-32 {
  margin-top: 32px !important; }

.width-32 {
  width: 32% !important; }

.fs-33 {
  font-size: 33px !important; }

.mb-33 {
  margin-bottom: 33px !important; }

.mt-33 {
  margin-top: 33px !important; }

.width-33 {
  width: 33% !important; }

.fs-34 {
  font-size: 34px !important; }

.mb-34 {
  margin-bottom: 34px !important; }

.mt-34 {
  margin-top: 34px !important; }

.width-34 {
  width: 34% !important; }

.fs-35 {
  font-size: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mt-35 {
  margin-top: 35px !important; }

.width-35 {
  width: 35% !important; }

.fs-36 {
  font-size: 36px !important; }

.mb-36 {
  margin-bottom: 36px !important; }

.mt-36 {
  margin-top: 36px !important; }

.width-36 {
  width: 36% !important; }

.fs-37 {
  font-size: 37px !important; }

.mb-37 {
  margin-bottom: 37px !important; }

.mt-37 {
  margin-top: 37px !important; }

.width-37 {
  width: 37% !important; }

.fs-38 {
  font-size: 38px !important; }

.mb-38 {
  margin-bottom: 38px !important; }

.mt-38 {
  margin-top: 38px !important; }

.width-38 {
  width: 38% !important; }

.fs-39 {
  font-size: 39px !important; }

.mb-39 {
  margin-bottom: 39px !important; }

.mt-39 {
  margin-top: 39px !important; }

.width-39 {
  width: 39% !important; }

.fs-40 {
  font-size: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mt-40 {
  margin-top: 40px !important; }

.width-40 {
  width: 40% !important; }

.fs-41 {
  font-size: 41px !important; }

.mb-41 {
  margin-bottom: 41px !important; }

.mt-41 {
  margin-top: 41px !important; }

.width-41 {
  width: 41% !important; }

.fs-42 {
  font-size: 42px !important; }

.mb-42 {
  margin-bottom: 42px !important; }

.mt-42 {
  margin-top: 42px !important; }

.width-42 {
  width: 42% !important; }

.fs-43 {
  font-size: 43px !important; }

.mb-43 {
  margin-bottom: 43px !important; }

.mt-43 {
  margin-top: 43px !important; }

.width-43 {
  width: 43% !important; }

.fs-44 {
  font-size: 44px !important; }

.mb-44 {
  margin-bottom: 44px !important; }

.mt-44 {
  margin-top: 44px !important; }

.width-44 {
  width: 44% !important; }

.fs-45 {
  font-size: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mt-45 {
  margin-top: 45px !important; }

.width-45 {
  width: 45% !important; }

.fs-46 {
  font-size: 46px !important; }

.mb-46 {
  margin-bottom: 46px !important; }

.mt-46 {
  margin-top: 46px !important; }

.width-46 {
  width: 46% !important; }

.fs-47 {
  font-size: 47px !important; }

.mb-47 {
  margin-bottom: 47px !important; }

.mt-47 {
  margin-top: 47px !important; }

.width-47 {
  width: 47% !important; }

.fs-48 {
  font-size: 48px !important; }

.mb-48 {
  margin-bottom: 48px !important; }

.mt-48 {
  margin-top: 48px !important; }

.width-48 {
  width: 48% !important; }

.fs-49 {
  font-size: 49px !important; }

.mb-49 {
  margin-bottom: 49px !important; }

.mt-49 {
  margin-top: 49px !important; }

.width-49 {
  width: 49% !important; }

.fs-50 {
  font-size: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mt-50 {
  margin-top: 50px !important; }

.width-50 {
  width: 50% !important; }

.fs-51 {
  font-size: 51px !important; }

.mb-51 {
  margin-bottom: 51px !important; }

.mt-51 {
  margin-top: 51px !important; }

.width-51 {
  width: 51% !important; }

.fs-52 {
  font-size: 52px !important; }

.mb-52 {
  margin-bottom: 52px !important; }

.mt-52 {
  margin-top: 52px !important; }

.width-52 {
  width: 52% !important; }

.fs-53 {
  font-size: 53px !important; }

.mb-53 {
  margin-bottom: 53px !important; }

.mt-53 {
  margin-top: 53px !important; }

.width-53 {
  width: 53% !important; }

.fs-54 {
  font-size: 54px !important; }

.mb-54 {
  margin-bottom: 54px !important; }

.mt-54 {
  margin-top: 54px !important; }

.width-54 {
  width: 54% !important; }

.fs-55 {
  font-size: 55px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mt-55 {
  margin-top: 55px !important; }

.width-55 {
  width: 55% !important; }

.fs-56 {
  font-size: 56px !important; }

.mb-56 {
  margin-bottom: 56px !important; }

.mt-56 {
  margin-top: 56px !important; }

.width-56 {
  width: 56% !important; }

.fs-57 {
  font-size: 57px !important; }

.mb-57 {
  margin-bottom: 57px !important; }

.mt-57 {
  margin-top: 57px !important; }

.width-57 {
  width: 57% !important; }

.fs-58 {
  font-size: 58px !important; }

.mb-58 {
  margin-bottom: 58px !important; }

.mt-58 {
  margin-top: 58px !important; }

.width-58 {
  width: 58% !important; }

.fs-59 {
  font-size: 59px !important; }

.mb-59 {
  margin-bottom: 59px !important; }

.mt-59 {
  margin-top: 59px !important; }

.width-59 {
  width: 59% !important; }

.fs-60 {
  font-size: 60px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mt-60 {
  margin-top: 60px !important; }

.width-60 {
  width: 60% !important; }

.fs-61 {
  font-size: 61px !important; }

.mb-61 {
  margin-bottom: 61px !important; }

.mt-61 {
  margin-top: 61px !important; }

.width-61 {
  width: 61% !important; }

.fs-62 {
  font-size: 62px !important; }

.mb-62 {
  margin-bottom: 62px !important; }

.mt-62 {
  margin-top: 62px !important; }

.width-62 {
  width: 62% !important; }

.fs-63 {
  font-size: 63px !important; }

.mb-63 {
  margin-bottom: 63px !important; }

.mt-63 {
  margin-top: 63px !important; }

.width-63 {
  width: 63% !important; }

.fs-64 {
  font-size: 64px !important; }

.mb-64 {
  margin-bottom: 64px !important; }

.mt-64 {
  margin-top: 64px !important; }

.width-64 {
  width: 64% !important; }

.fs-65 {
  font-size: 65px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mt-65 {
  margin-top: 65px !important; }

.width-65 {
  width: 65% !important; }

.fs-66 {
  font-size: 66px !important; }

.mb-66 {
  margin-bottom: 66px !important; }

.mt-66 {
  margin-top: 66px !important; }

.width-66 {
  width: 66% !important; }

.fs-67 {
  font-size: 67px !important; }

.mb-67 {
  margin-bottom: 67px !important; }

.mt-67 {
  margin-top: 67px !important; }

.width-67 {
  width: 67% !important; }

.fs-68 {
  font-size: 68px !important; }

.mb-68 {
  margin-bottom: 68px !important; }

.mt-68 {
  margin-top: 68px !important; }

.width-68 {
  width: 68% !important; }

.fs-69 {
  font-size: 69px !important; }

.mb-69 {
  margin-bottom: 69px !important; }

.mt-69 {
  margin-top: 69px !important; }

.width-69 {
  width: 69% !important; }

.fs-70 {
  font-size: 70px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mt-70 {
  margin-top: 70px !important; }

.width-70 {
  width: 70% !important; }

.fs-71 {
  font-size: 71px !important; }

.mb-71 {
  margin-bottom: 71px !important; }

.mt-71 {
  margin-top: 71px !important; }

.width-71 {
  width: 71% !important; }

.fs-72 {
  font-size: 72px !important; }

.mb-72 {
  margin-bottom: 72px !important; }

.mt-72 {
  margin-top: 72px !important; }

.width-72 {
  width: 72% !important; }

.fs-73 {
  font-size: 73px !important; }

.mb-73 {
  margin-bottom: 73px !important; }

.mt-73 {
  margin-top: 73px !important; }

.width-73 {
  width: 73% !important; }

.fs-74 {
  font-size: 74px !important; }

.mb-74 {
  margin-bottom: 74px !important; }

.mt-74 {
  margin-top: 74px !important; }

.width-74 {
  width: 74% !important; }

.fs-75 {
  font-size: 75px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mt-75 {
  margin-top: 75px !important; }

.width-75 {
  width: 75% !important; }

.fs-76 {
  font-size: 76px !important; }

.mb-76 {
  margin-bottom: 76px !important; }

.mt-76 {
  margin-top: 76px !important; }

.width-76 {
  width: 76% !important; }

.fs-77 {
  font-size: 77px !important; }

.mb-77 {
  margin-bottom: 77px !important; }

.mt-77 {
  margin-top: 77px !important; }

.width-77 {
  width: 77% !important; }

.fs-78 {
  font-size: 78px !important; }

.mb-78 {
  margin-bottom: 78px !important; }

.mt-78 {
  margin-top: 78px !important; }

.width-78 {
  width: 78% !important; }

.fs-79 {
  font-size: 79px !important; }

.mb-79 {
  margin-bottom: 79px !important; }

.mt-79 {
  margin-top: 79px !important; }

.width-79 {
  width: 79% !important; }

.fs-80 {
  font-size: 80px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mt-80 {
  margin-top: 80px !important; }

.width-80 {
  width: 80% !important; }

.fs-81 {
  font-size: 81px !important; }

.mb-81 {
  margin-bottom: 81px !important; }

.mt-81 {
  margin-top: 81px !important; }

.width-81 {
  width: 81% !important; }

.fs-82 {
  font-size: 82px !important; }

.mb-82 {
  margin-bottom: 82px !important; }

.mt-82 {
  margin-top: 82px !important; }

.width-82 {
  width: 82% !important; }

.fs-83 {
  font-size: 83px !important; }

.mb-83 {
  margin-bottom: 83px !important; }

.mt-83 {
  margin-top: 83px !important; }

.width-83 {
  width: 83% !important; }

.fs-84 {
  font-size: 84px !important; }

.mb-84 {
  margin-bottom: 84px !important; }

.mt-84 {
  margin-top: 84px !important; }

.width-84 {
  width: 84% !important; }

.fs-85 {
  font-size: 85px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mt-85 {
  margin-top: 85px !important; }

.width-85 {
  width: 85% !important; }

.fs-86 {
  font-size: 86px !important; }

.mb-86 {
  margin-bottom: 86px !important; }

.mt-86 {
  margin-top: 86px !important; }

.width-86 {
  width: 86% !important; }

.fs-87 {
  font-size: 87px !important; }

.mb-87 {
  margin-bottom: 87px !important; }

.mt-87 {
  margin-top: 87px !important; }

.width-87 {
  width: 87% !important; }

.fs-88 {
  font-size: 88px !important; }

.mb-88 {
  margin-bottom: 88px !important; }

.mt-88 {
  margin-top: 88px !important; }

.width-88 {
  width: 88% !important; }

.fs-89 {
  font-size: 89px !important; }

.mb-89 {
  margin-bottom: 89px !important; }

.mt-89 {
  margin-top: 89px !important; }

.width-89 {
  width: 89% !important; }

.fs-90 {
  font-size: 90px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mt-90 {
  margin-top: 90px !important; }

.width-90 {
  width: 90% !important; }

.fs-91 {
  font-size: 91px !important; }

.mb-91 {
  margin-bottom: 91px !important; }

.mt-91 {
  margin-top: 91px !important; }

.width-91 {
  width: 91% !important; }

.fs-92 {
  font-size: 92px !important; }

.mb-92 {
  margin-bottom: 92px !important; }

.mt-92 {
  margin-top: 92px !important; }

.width-92 {
  width: 92% !important; }

.fs-93 {
  font-size: 93px !important; }

.mb-93 {
  margin-bottom: 93px !important; }

.mt-93 {
  margin-top: 93px !important; }

.width-93 {
  width: 93% !important; }

.fs-94 {
  font-size: 94px !important; }

.mb-94 {
  margin-bottom: 94px !important; }

.mt-94 {
  margin-top: 94px !important; }

.width-94 {
  width: 94% !important; }

.fs-95 {
  font-size: 95px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mt-95 {
  margin-top: 95px !important; }

.width-95 {
  width: 95% !important; }

.fs-96 {
  font-size: 96px !important; }

.mb-96 {
  margin-bottom: 96px !important; }

.mt-96 {
  margin-top: 96px !important; }

.width-96 {
  width: 96% !important; }

.fs-97 {
  font-size: 97px !important; }

.mb-97 {
  margin-bottom: 97px !important; }

.mt-97 {
  margin-top: 97px !important; }

.width-97 {
  width: 97% !important; }

.fs-98 {
  font-size: 98px !important; }

.mb-98 {
  margin-bottom: 98px !important; }

.mt-98 {
  margin-top: 98px !important; }

.width-98 {
  width: 98% !important; }

.fs-99 {
  font-size: 99px !important; }

.mb-99 {
  margin-bottom: 99px !important; }

.mt-99 {
  margin-top: 99px !important; }

.width-99 {
  width: 99% !important; }

/*# sourceMappingURL=style.css.map */
