@font-face {
    font-family: 'Gilroy';
    src: url("../../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: 'Gilroy Thin';
    src: url("../../fonts/Gilroy-Thin.ttf");
}

@font-face {
    font-family: 'Gilroy ultra light';
    src: url('../../fonts/Gilroy-UltraLight.ttf');
}

@font-face {
    font-family: 'Gilroy light';
    src: url('../../fonts/Gilroy-Light.ttf');
}

@font-face {
    font-family: 'Gilroy medium';
    src: url('../../fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy bold';
    src: url('../../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy semi bold';
    src: url('../../fonts/Gilroy-SemiBold.ttf');
}


* {
    font-family: 'Gilroy', sans-serif;
}

$gray-tab-switcher : #EBEBEB;
$dark-button : #2D2C2A;
$skill-item-bg : #F0F0EA;
$app-gradient : linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%),
linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%);

.main-wrapper {
    font-size: 14px;
}


.header {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    background-color :rgba(255, 255, 255, 0.96);

    .header-left {
        display: flex;
        align-items: center;

        .header-logo {
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 3px;
        }

        .header-theme-switcher {
            padding: 4px;
            border-radius: 100px;
            background-color: $gray-tab-switcher;
            margin-left: 30px;

            button {
                outline: none;
                border: none;
                border-radius: 100px;
                padding: 4px 12px;
                font-weight: 500;
                transition: .4s;

                &.dark-mode-button {
                    background-color: $dark-button;
                    color: #fff;
                    margin-left: 4px;

                    &:hover {
                        background-color: coral;
                    }
                }

                &.light-mode-button {
                    background-color: #fff;
                    color: $dark-button;
                }
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;

        .avatar {
            width: 60px;
            height: 60px;
            padding: 3px;
            border-radius: 50%;
            background-image: url('../../../images/backgrounds/gradient-bg.png');
            background-size: cover;
            background-position: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .close-menu-section {
            color: #000;
            align-items: center;
            font-size: 14px;
            font-weight: 500 !important;
            cursor: pointer;
            display: flex;

            i {
                margin: 0px 15px;
                font-weight: 300 !important;
                font-size: 20px;
            }

            svg {
                width: 14px;
                height: 14px;
                margin: 0px 20px;
            }
        }
    }

}

.bottom-menu-opener {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    background-image: $app-gradient;

    svg {
        width: 21px;
        height: 21px;
    }
}

.main-left-side {
    min-height: 100px;
}

.main-right-side {
    overflow: auto;
    height: 100%;

    .header-theme-switcher {
        padding: 4px;
        border-radius: 100px;

        button {
            outline: none;
            border: none;
            border-radius: 100px;
            padding: 4px 12px;
            font-weight: 500;
            transition: .4s;

            &.dark-mode-button {
                background-color: $dark-button;
                color: #fff;
                margin-left: 4px;

                &:hover {
                    background-color: coral;
                }
            }

            &.light-mode-button {
                background-color: #fff;
                color: $dark-button;
            }
        }
    }
}

.skill-container {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;

    .skill-menu-closer {
        display: flex;
        padding: 0px !important;
        text-transform: none !important;
        background-color: transparent !important;
        color: #fff;

        .skill-closer-desc {
            display: flex;
            text-align: center;
            align-items: center;
        }

        .skill-menu-closer-box {
            background-color: #000;
            margin-left: 15px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;

        }
    }

    .skill-row {
        display: flex;

        display: flex;
        z-index: 1001;
    }

    .skill-left-side {
        width: calc(100% - 350px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

.skills-right-sidebar {
    width: 0px;
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    z-index: 100;
    overflow: auto;

    .skill-item {
        background-color: $skill-item-bg;
        flex-grow: 1;
        padding: 10px 15px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            span {
                background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
                overflow: hidden;
                text-decoration: none;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;

            }
        }

    }

    .active-skill {
        span {
            background: -webkit-linear-gradient(133.07deg, #3549FF 14.94%, #FF8616 89.03%), -webkit-linear-gradient(241.93deg, #FFE380 9.25%, rgba(255, 197, 0, 0) 51.39%);
            overflow: hidden;
            text-decoration: none;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: red !important
        }
    }
}

.skill-accordion-features {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2000;
    display: none;
}

.hidden {
    height: 100%;
    overflow: hidden;
}

.main-right-side {
    .filters {

        h4 {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        .filter-item {
            display: flex;
            align-items: center;
            margin: 10px 0px;
            white-space: nowrap;

            div.icon-wrapper {
                margin-right: 15px;
                background-color: $gray-tab-switcher;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 15px;
                    height: 15px
                }
            }

            div.filter-text {
                font-weight: 500
            }
        }
    }

    .categories {
        h4 {
            font-weight: 600;
            margin-top: 50px;
        }

        .category-tabs {
            .category-tab {
                padding: 10px 0px;

                h6 {
                    font-weight: 500
                }
            }
        }
    }
}


// Left side content begin
.main-left-side {
    .left-features {
        width: 200px;
        height: calc(100% - 200px);
        position: fixed;
        top: 120px;
        padding-top: 30px;
        left: 0;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .about-me {
            transform: rotate(90deg);
            color: #7E7E7E;
        }

        .social-links {
            transform: rotate(90deg);
            display: flex;
            flex-direction: row;

            div {
                background-color: $gray-tab-switcher;
                width: 36px;
                height: 36px;
                margin: 0px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 50%;
                transform: rotate(-90deg);
            }
        }

        .scroll-down {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            transform: rotate(90deg);

            .text-part {
                margin: 10px;
                display: flex;
                white-space: nowrap;
                font-weight: 500;
                transform: rotate(180deg);
                font-size: 16px;

                span {
                    background: $app-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            img {
                margin-left: 10px;
                transform: rotate(-90deg);
            }
        }
    }


}

.content-enterance {
    margin-bottom: 20px;
}

.description-text {
    font-size: 16px
}


.pagination {
    display: flex;
    align-items: center;
    padding: 10px 0px;

    .page-item {
        background-color: #fff;
        color: $dark-button;
        text-decoration: none;
        border: 1px solid $gray-tab-switcher;
        width: 45px;
        height: 45px;
        margin: 0px 3px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        line-height: 45px;
        transition: .2s;
        

        &.active {
            background-color: $dark-button;
            color: #fff;
            
        }

        &:active {
            background-color: $dark-button;
            color: #fff;
            
        }

        &:hover {
            background-color: $dark-button;
            color: #fff;
            
        }

        &.disabled {
            cursor: not-allowed
        }
    }
}


.custom-card {
    width: 100%;
    margin-bottom: 40px;

    .custom-card-image {
        width: 100%;
        height: 252px;
        object-fit: cover;
    }

    .card-event-date {
        background-color: #F2F2F2;
        display: inline-block;
        padding: 7px 12px 5px 12px;
        margin: 20px 0px 10px;
        border-radius: 100px;
        font-weight: 500;

        i {
            margin-right: 7px
        }
    }

    .custom-card-title {
        font-size: 24px;
        color: #000;
        margin-top: 10px;
        a {
            color: #000;
            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
    }

    .card-entries {
        display: flex;
        align-items: center;

        margin-top: 20px;

        .card-tag {
            display: inline-block;
            padding: 5px;
            font-weight: 500;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }

        .card-statics {
            margin-left: 10px;
            display: flex;
            align-items: center;

            .static-text {
                margin-left: 10px;

                .dot {
                    font-weight: bold;
                }

                .active-static {
                    font-weight: 500
                }
            }
        }

    }

    .custom-card-footer {
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        color: #888888;
        margin: 20px 0px;

        .read-more {
            color: #0075ff;
            text-decoration: none;
            
        }
    }

    .card-bottom-tags {
        a {
            color: #000;
            

            margin-right: 5px;
        }

        .active {
            color: #0075ff;
            text-decoration: underline;
        }
    }

}

.card-full-width {
    margin-bottom: 20px;

    &.card-with-cutter-image {

        .card-img-top {
            height: 524px;
            position: relative;
            background-color: #000;

            img {
                height: 100%;
                width: auto;
                position: absolute;
                top: 0;
                right: 0;
            }

            img.blockquote {
                width: 48px;
                height: 48px;
            }

            .blockquote {
                &::before {
                    content: url('../../../images/icons/blockquote.svg');
                    top: 0;
                    left: 0;
                    display: block;
                }
            }
        }

        .custom-card-title {
            position: absolute;
            color: #fff;

            h4 {

                font-size: 48px !important;
                line-height: 56px !important;
                font-weight: bold;
                margin-bottom: 0px !important;
            }
        }

        
        

        
    }
    .card-entries {
        display: flex;
        align-items: center;
        margin: 20px 0px;

        .card-tag {
            display: inline-block;
            padding: 5px;
            font-weight: 500;
            background-color: #000;
            color: #fff;
            text-decoration: none;
        }

        .card-statics {
            margin-left: 10px;
            display: flex;
            align-items: center;

            .static-text {
                margin-left: 10px;

                .dot {
                    font-weight: bold;
                }

                .active-static {
                    font-weight: 500
                }
            }
        }

    }

    .card-event-date {
        background-color: #F2F2F2;
        display: inline-block;
        padding: 7px 12px 5px 12px;
        margin: 0px 15px 0px 0px;
        border-radius: 100px;
        font-weight: 500;

        i {
            margin-right: 7px
        }
    }

    &.card-colored-full-background {
        .card-img-top {
            height: 524px;
            color: #fff;
            position: relative;

            .custom-card-title {
                position: absolute;
                font-size: 48px;
                color: #fff;

                h4 {

                    font-size: 48px !important;
                    line-height: 56px !important;
                    font-family: 'Gilroy Medium';
                    margin-bottom: 0px !important;
                }
                .blockquote {
                    &::before {
                        content: url('../../../images/icons/blockquote.svg');
                        top: 0;
                        left: 0;
                        display: block;
                    }
                }
            }
        }
    }
    .card-img-top.gradient {
        background-image: $app-gradient;
        background-size: cover;
        background-position: center;
    }
}

// Left side content end

// Right drawer menu begin
.social-links-small-screens {
    margin-top: 20px;

    div {
        width: 40px;
        height: 40px;
        background-color: $gray-tab-switcher;
        margin-right: 10px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;

    }
}

// Right drawer menu end

// Accordion toggle menu style
.skill-accordion-features {
    .skills-accordion-wrapper {
        overflow: auto;
        height: 100%;
        .accordion-item {
            width: 100%;
            .accordion__header {
                height: 70px;
                line-height: 70px;
                padding-left: 25px;
                color: #000;
                background-color: #F0F0EA;
                text-transform: uppercase;
                cursor: pointer;
                &::before {
                    content: "#";
                }
            }
            .accordion__header__text {
                font-family: 'Gilroy medium';
                font-weight: 500;
            }
            .accordion__body {
                display: none;
                padding: 40px 0px;
            }
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(60px);
            margin-bottom: 1px;
        }
    }
}

.accordion-item .accordion__body {
    .custom-card {
        .custom-card-image {
            height: 186px;
        }
        .custom-card-title h4 {
            font-size: 18px;
            font-family: 'Gilroy Medium', sans-serif;
        }
    }
    .tab__description {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        .tab__description__title {
            color: #000;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 48px;
        }
        .tab__description__skill__ratio {
            border-radius: 100px;
            padding: 10px 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            background-image: linear-gradient(90.91deg, #EEEDE9 36.36%, rgba(238, 237, 233, 0) 69.78%);;
            span {
                font-family: 'Gilroy medium';
                font-size: 16px;
                background:  $app-gradient;
                overflow: hidden;
                text-decoration: none;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .tab__description__text__wrapper {
            margin-top: 20px;
            margin-bottom: 20px;
            .paragraph {
                font-size: 14px;
                font-family: 'Gilroy medium';
                font-weight: 400;
            }
        }
        .tab__description__link {
            .tab__go__to__link {
                color: #888888;
                text-decoration: none;
                display: flex;
                align-items: center;
                span i {
                    margin-left: 5px;
                }
            }
        }
    }
}
// Accordion toggle menu style

.mr-350 {
    margin-right: 350px
}

@import './responsive/responsive';